<div class="clouds">
    <h3 class="intro">introducing two new fragrances from the team that brought you #babepower</h3>


    <!-- boss-babe-eau-de-parfum-80ml-10111084 babe-dreams-eau-de-parfum-80-ml-10111085 babe-oud-eau-de-parfum-80-ml-10111086 -->


    <div class="flex">
        <div class="slot">
            <a href="" target="_blank">
                <h2>boss babe</h2>
                <p>Boss Babe will leave you ready to face anything the day throws ar you. This fruity floral scent leads with
                    notes of bergamot and pear with accents of pistachio.</p>
                <img src="https://media.missguided.co.uk/image/upload/v1528805241/boss-babe_abkqvp.jpg" alt="boss-babe">
                <button class="cta">shop now</button>
            </a>
        </div>
        <div class="slot">
            <a href="" target="_blank">
                <h2>babe dreams</h2>
                <p>Do dreamy feminity the MIssguided way, the Babe Dreams. This sweet chypre scent is cushioned by a base of
                    patchouli, rich amber and vanilla.</p>
                <img src="https://media.missguided.co.uk/image/upload/v1528805241/babe-dreams_hs1p0a.jpg" alt="babe-dreams">
                <button class="cta">shop now</button>
            </a>
        </div>
    </div>
    <h3 class="and">&amp; don't forget the OG award winning</h3>
    <div class="flex">
        <div class="slot">
            <a href="" target="_blank">
                <h1>babe power</h1>
                <img src="https://media.missguided.co.uk/image/upload/v1528805241/babe-power_ebk1hi.jpg" alt="babe-power">
                <button class="cta">shop now</button>
            </a>
        </div>
    </div>
</div>